#testimonials{
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(255, 0, 0, 0.45), 
      rgba(255, 0, 0, 0.45)
    ),
    /* bottom, image */
    url(image.jpg);

}
.rounded-image{
    max-width: 33%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position:10px 10px;
    border-radius: 50%;

}
.circle{
    width: 10px !important;
    height:10px !important;
    aspect-ratio: 1 !important;
    border-radius: 50% !important;
}
body{
    ba
}